
.spacer-10 { display: block; height: 10px; }
.spacer-20 { display: block; height: 20px; }
.spacer-30 { display: block; height: 30px; }
.spacer-40 { display: block; height: 40px; }
.spacer-50 { display: block; height: 50px; }
.spacer-60 { display: block; height: 60px; }
.spacer-70 { display: block; height: 70px; }
.spacer-80 { display: block; height: 80px; }
.spacer-90 { display: block; height: 90px; }
.spacer-100 { display: block; height: 100px; }
.spacer-150 { display: block; height: 150px; }
.spacer-200 { display: block; height: 200px; }
.spacer-250 { display: block; height: 250px; }
.spacer-300 { display: block; height: 300px; }
.spacer-450 { display: block; height: 450px; }

.indent-10 { padding-left: 10px; }
.indent-20 { padding-left: 20px; }
.indent-30 { padding-left: 30px; }
.indent-40 { padding-left: 40px; }
.indent-50 { padding-left: 50px; }
.indent-60 { padding-left: 60px; }
.indent-70 { padding-left: 70px; }
.indent-80 { padding-left: 80px; }
.indent-90 { padding-left: 90px; }
.indent-100 { padding-left: 100px; }
